In [4]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import FunctionTransformer

In [3]:
df = pd.read_csv("sample_dataset.csv").iloc[:,0:3].dropna()

In [5]:
ft1 = FunctionTransformer(np.log)

In [6]:
ft1.fit_transform(df)

     mean radius  mean texture  mean perimeter
1       3.023834      2.877512        4.889597
2       2.980111      3.056357        4.867534
3       2.435366      3.014554        4.351310
5       2.521721      2.753661        4.413646
7       2.618125      3.036394        4.502029
..           ...           ...             ...
562     2.722610      3.421653        4.638605
563     3.040706      3.222469        4.962845
564     3.070840      3.108614        4.955827
566     2.809403      3.335058        4.684905
567     3.025291      3.378611        4.942356

[385 rows x 3 columns]

In [7]:
ft2 = FunctionTransformer(np.log,validate=True)

In [8]:
ft2.fit_transform(df)

array([[3.0238337 , 2.87751164, 4.88959697],
       [2.98011089, 3.0563569 , 4.86753445],
       [2.4353662 , 3.01455403, 4.35130966],
       ...,
       [3.07083975, 3.10861443, 4.95582706],
       [2.8094027 , 3.33505758, 4.68490515],
       [3.02529108, 3.37861088, 4.94235645]])

In [9]:
ft3 = FunctionTransformer(lambda x : x + 3,validate=True)

In [10]:
ft3.fit_transform(df)

array([[ 23.57,  20.77, 135.9 ],
       [ 22.69,  24.25, 133.  ],
       [ 14.42,  23.38,  80.58],
       ...,
       [ 24.56,  25.39, 145.  ],
       [ 19.6 ,  31.08, 111.3 ],
       [ 23.6 ,  32.33, 143.1 ]])